* {
	margin: 0px;
	padding: 0px;
}

/* Elements */

a {
	color: #dc830b;
}

html, body {
	width: 100%;
	color: black;
	height: 100%;
}

h1 {
	color: white;
	font-size: 45px;
	font-family: Arvo;
    text-shadow: 5px 5px black;
}

p {
	text-indent: 25px;
}

/* Classes */

.animated { /* Ensures that animated elements become visible when animated */
	visibility: visible !important; 
}

.center {
	margin:auto;
	max-width:1000px;
}

.circle-logo {
    width: 200px;
    margin-top: 25px;
    transition: transform .2s;
}

a .circle-logo:hover{
    transform:scale(1.05);
}

.content {
    display: table;
	width: 100%;
    font-size: 0;
    overflow: hidden;
}

.left-content, .right-content {
    display: table-cell;
    height: 100%;
    width: 50%;
    padding: 25px;
}

.email{
	color:lightgrey;
	font-weight: normal;
	padding:5px;
	transition:-webkit-transform .5s, color .5s;
}

.email:hover{
	transform:scale(1.05);
	color:white;
}

.header{ /* .content header elements */
	text-align: center;
	font-weight: 200;
    font-size: 45px;
	border-bottom: 3px solid black;
    margin: 15px 0px 20px 0px;
    color: black;
    text-shadow: none;
}

.text {
	margin-top: 25px;
	margin-bottom: 35px;
	font-family: Open Sans;
	font-size: 18px;
	text-align:left;
}

.subtext{ 
	max-width: 800px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
    font-family: Open Sans;
    font-size: 18px;
	font-weight: 100;
	text-align: left;
}

.experiences-table-row {
    width: 100%;
}

.experiences-tile {
    width: calc(50% - 1px);
    display: inline-block;
    height: 500px;
    border-bottom: 2px solid white;
}

.experiences-tile:first-child {
    border-right: 1px solid white;
}

.experiences-tile:last-child {
    border-left: 1px solid white;
}

.experiences-table-row:last-child .experiences-tile{
    border-bottom: none;
}

.tile-overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s;
    background: rgba(0, 0, 0, .4);
}

.tile-overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.tile-overlay-content {
    padding: 15px 20px 15px 20px;
}

.experiences-content {
    height: 0px;
    width: 100%;
    overflow: hidden;
    transition: .5s height;
}

/* ID's */

#background-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    z-index: -1;
}

#landing {
    position: relative;
    min-height: 800px;
    height: 100%;
    width: 100%;
}

#landing-introduction {
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 100px;
    color: #00faab;
}

#landing-description {
    color: #0072ff;
    position: absolute;
    top: 55%;
    left: 55%;
    font-size: 100px;
}

#landing-scroll-indicator {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 22px);
    font-size: 50px;
    color: rgba(0, 0, 0, .3);
}

#about {
    height: 100%;
    min-height: 1000px;
}

#about-content {
    color: white;
    box-shadow: -3px 0px 20px black;
}

#projects {
    background: rgba(255, 255, 255, .8);
}

#experiences-table {
    width: 100%;
}

#contact

#loading-cover {
	position: fixed;
	width: 100%;
	height: 120%;
	margin-top: -100px;
	z-index: 100;
	background: black;
}

#inner-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -244px;
	color: white;
}

#hexagonGif {
	width: 500px;
}

#body{
	width: 100%;
	height: 100%;
}

#contact p{
	text-align:center;
	text-indent:0px;
}