* {
	margin: 0px;
	padding: 0px;
}

/* Elements */

a {
	color: #ccab7e;
}

html, body {
	width: 100%;
	color: black;
	height: 100%;
}

h1 {
	color: white;
	font-size: 45px;
	font-family: Arvo;
    text-shadow: 5px 5px black;
}

p {
	text-indent: 25px;
}

/* Classes */

.animated { /* Ensures that animated elements become visible when animated */
	visibility: visible !important; 
}

.center {
	margin:auto;
	max-width:1000px;
}

.content {
    display: table;
	width: 100%;
    font-size: 0;
    overflow: hidden;
}

.left-content, .right-content {
    display: table-cell;
    height: 100%;
    width: 50%;
    padding: 25px;
}

.email{
	color:lightgrey;
	font-weight: normal;
	padding:5px;
	transition:-webkit-transform .5s, color .5s;
}

.email:hover{
	transform:scale(1.05);
	color:white;
}

.header{ /* .content header elements */
	text-align:center;
	font-family: Verdana, Geneva, sans-serif;
	font-weight:200;
	font-size:50px;
	border-bottom:3px solid white;
}

.text {
	margin-top: 25px;
	margin-bottom: 35px;
	font-family: Open Sans;
	font-size: 18px;
	text-align:left;
}

.text img{
	float:left;
	margin-right:10px;
	width:300px;
}

.subheader{
	margin:auto;
	width:800px;
	text-align:center;
	font-family: Verdana, Geneva, sans-serif;
	font-weight:100;
	font-size:40px;
	border-bottom:2px solid white;
}

.subtext{ 
	max-width:800px;
	margin:auto;
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: times new roman;
	font-size:23px;
	font-weight:100;
	text-align:left;
}

.banner {
	max-width:1000px;
	min-width:800px;
	margin-top:10px;
	margin-bottom:10px;
}

.experiences-table-row {
    width: 100%;
}

.experiences-tile {
    width: calc(50% - 1px);
    display: inline-block;
    height: 500px;
    border-bottom: 2px solid white;
}

.experiences-tile:first-child {
    border-right: 1px solid white;
}

.experiences-tile:last-child {
    border-left: 1px solid white;
}

.experiences-table-row:last-child .experiences-tile{
    border-bottom: none;
}

.tile-overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s;
    background: rgba(0, 0, 0, .4);
}

.tile-overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.tile-overlay-content {
    padding: 15px 20px 15px 20px;
}

.experiences-content {
    height: 0px;
    width: 100%;
    overflow: hidden;
    transition: .5s height;
}

/* ID's */

#background-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    z-index: -1;
}

#landing {
    position: relative;
    min-height: 800px;
    height: 100%;
    width: 100%;
}

#landing-introduction {
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 100px;
    color: #00faab;
}

#landing-description {
    color: #0072ff;
    position: absolute;
    top: 55%;
    left: 55%;
    font-size: 100px;
}

#landing-scroll-indicator {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 22px);
    font-size: 50px;
    color: rgba(0, 0, 0, .3);
}

#about-content {
    min-height: 1000px;
    color: white;
    box-shadow: -3px 0px 20px black;
}

#experiences-table {
    width: 100%;
}

#loading-cover{
	position:fixed;
	width:100%;
	height:120%;
	margin-top:-100px;
	z-index:100;
	background:black;
}

#inner-loading{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -244px;
	color: white;
}

#background{
	width:100%;
	position:fixed;
	left:50%;
	top:0px;
	z-index:-500;
}

#backgroundOverlay{
	width:100%;
	position:fixed;
	left:50%;
	top:0px;
	z-index:-499;
	opacity: 0;
}

#cloud {
	width:100%;
	margin-top:25px;
	position:relative;
	padding-top:0px;
}

#cloudbuffer img{
	width:100%;
}

#HWLogo {
	width:200px;
	transition:transform .2s;
}

#cloud a #HWLogo:hover{
	transform:scale(1.05);
}

#headerContainer{
	width: 100%;
	background: whitesmoke;
	height: 60px;
	position: fixed;
	top: 0px;
	z-index: 5;
	border-bottom: 1px solid lightgray;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
	visibility: hidden;
}

#header {
	max-width:1000px;
	height:100%;
	margin:auto;
	position:relative;
}

#header * {
	display:inline-block;
}

#header h1 {
	position: absolute;
    color: black;
    text-shadow: none;
	bottom: 0px;
}

#hexagonGif {
	width: 500px;
}

#HWContent {
	background:rgba(82, 191, 168, .9);
	padding-bottom:50px;
}

#HWContent a {
	color:#ef5725;
}

#nav {
	position:absolute;
	right:0px;
	height:100%;
	border-right:1px solid lightgray;
}

#nav li {
	height: 100%;
	position: relative;
	display: inline-block;
	border-left: 1px solid lightgray;
	font-size: 35px;
	font-variant: small-caps;
    font-family: Arvo;
	cursor: pointer;
	cursor: hand;
}

#nav li a{
	padding: 10px;
	text-align: center;
	position: relative;
	transition: padding-left .5s, padding-right .5s, color .5s;
	color: black;
}

#nav li a:hover{
	padding-left: 15px;
	padding-right: 15px;
    color: #52bfa8;
}

#body{
	width: 100%;
	height: 100%;
}

#contact p{
	text-align:center;
	text-indent:0px;
}